<template>
  <div>
    <h1>Yabber project</h1>
    <p>{{message}}</p>
    <p>
      Getter vuex test: {{messageToUpper}}
    </p>
    <p>
      My API host is: {{apiHost}}
    </p>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  computed:{
    message(){
      return this.$store.state.home.testMessage;
    },
    messageToUpper(){
      return this.$store.getters['home/getTestMessageToUpper'];
    },
    apiHost(){
      return this.$store.getters['home/getApiHost'];
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
