<template>
  <div>
    <div v-if="errors.length">
      Errors:
      <div v-for="(error, index) in errors" v-bind:key="index">
          <p v-if="error.errors.length">
              {{error.errors[0]}}
          </p>
      </div>
    </div>
    <form v-on:submit.prevent="addUser">
      <p>
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" v-model="user.firstName" />
      </p>
      <p>
        <label for="SecondName">Second Name:</label>
        <input type="text" id="SecondName" name="SecondName" v-model="user.lastName" />
      </p>
      <p>
        <label for="BirthDate">Birth Date:</label>
        <input type="date" id="BirthDate" name="BirthDate" v-model="user.birthDate" />
      </p>
      <p>
        <label for="Address">Address:</label>
        <input type="text" id="Address" name="Address" v-model="user.address" />
      </p>
      <p>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" v-model="user.email" />
      </p>
      <p>
        <label for="Gender">Gender:</label>
        <input type="radio" id="Gender" name="Gender" value="false" v-model="user.gender" /> Male
        <br />
        <input type="radio" id="Gender" name="Gender" value="true" v-model="user.gender" /> Female
        <br />
      </p>
      <p>
        <input type="submit" value="Add User" />
      </p>
    </form>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";
import { UserService } from "../../../services/userService";

function isInvalidDataUser(user) {
  let isValidUser = false;

  for (var key in user) {
    if (key !== "gender") {
      if (user[key].length == 0) {
        isValidUser = true;
        break;
      }
    } else {
      if (user[key] !== "true" && user[key] !== "false") {
        isValidUser = true;
        break;
      }
    }
  }

  return isValidUser;
}

export default {
  data: () => {
    return {
      user: {
        firstName: "",
        lastName: "",
        birthDate: "",
        address: "",
        email: "",
        gender: false
      },
      errors: []
    };
  },
  computed: {},
  methods: {
    async addUser() {
      if (isInvalidDataUser(this.user)) {
        alert("Please check the information.");
        return;
      }

      let response = await UserService.AddAsync(this.user);

      if (response.success) {
        alert("User created!");
      } else {
        this.errors = response.errors;
        alert(`Error ${response.message}`);
      }
    }
  }
};
</script>

<style>
</style>
